* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        
}
body {
    font-family: 'EB Garamond', serif;
    background-color: rgba(235,235,235,255);
}


.header {
    width: 100%;
    font: rgb(255, 255, 255);
}

.header-nav {
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.header-nav-menu {
    display: flex;
    list-style: none;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.header-nav-menu-item {
    font-size: 28px;
    margin-right: 30px;
}
.subrrallado {
   text-decoration: none;
   color: rgb(255, 255, 255);
   text-shadow: 3px 3px 3px black;
}
.subrrallado:hover {
    text-decoration: underline white ;
    text-underline-offset: 8px;
}
.active {
    text-decoration: underline white ;
    text-underline-offset: 8px;
}

.fondo {
    background-image: URL(imagenes/recurso1.png);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo-logo {
    max-width: 50%;
    margin: 350px auto;
}   

.bienvenida {
margin-top: 200px;
}

.titulo {
    margin: 8rem;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}
.info {
    text-align: center;
    font-size: 30px;
    margin: 100px auto;
    max-width: 800px;
}


.instalaciones {
    margin-top: 150px;
}

#carrusel-contenido {
    width: 1080px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}


#carrusel-caja {
    display: flex;
    width: 400%;
    margin: 0;
    padding: 0;
    animation: slide 20s infinite alternate ease-in-out;
}
.carrusel-elemento {
    width: 100%;
}
.imagenes{
    width: 98%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 10px 1%;
    padding: 0;
}


 @keyframes slide {
    0%    {margin-left: 0;}
    20%   {margin-left: 0;}
    25%   {margin-left: -100%;}
    45%   {margin-left: -100%;} 
    50%   {margin-left: -200%;}
    70%   {margin-left: -200%;}
    75%   {margin-left: -300%;}
    100%  {margin-left: -300%;}
} 

.video {
    display: flex;
    background-color: rgba(74,95,89,255);
    justify-content: center;
    align-content: center;
    max-width: 100%;
}
.video > iframe {
    max-width: 1080px;
    padding: 20px 0;
}

.contenedor {
margin: 4rem auto;
}
.contenedor-logos {
    display: flex;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.caracteristica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 0;
    padding: 0;
}

.caracteristica-logo > img {
    max-width: 80%;
    height: auto;
}


.caracteristica-descripcion {
    margin: 2rem auto;
    align-items: flex-start;
    height: 20%;
    max-width: 80%;
}
.covid {
    margin: 3rem auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.footer {
    background-color: rgba(74,95,89,255);

} 
.footer-nav {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 33%;

}
.logo-logo-footer {
    max-height: 50%;
    border: 6px;
    border-color: black;
    margin-left: 2vw;
}

.footer-menu {
    display: flex;
    min-width: 33%;
    font-family: 'Montserrat', sans-serif;
}

.footer-menu-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-menu-item {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.footer-menu-item-item {
   text-decoration: none;
   color: rgb(255, 255, 255);
}

.footer-menu-item-item:hover {
    text-decoration: underline white ;
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    color: white;
    font-weight: 100;
    max-width: 33%;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2vw;
}

.fa-brands {
    margin-right: 5px;
    margin-bottom: 10px;
    scale: 1.3;
}
.footer-contacto-p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.redes{
    font-size: 18px;
}

.fondo-complejo {
    background-image: URL(Iconos/fondo\ complejoRecurso\ 4.jpg);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;
}

.espaciado {
    width: 100%;
    height: 1280px;
}

.cabanas {
    margin: 8rem auto;
    max-width: 1280px;
}

.cabanas-cabana {
    background-color: rgba(225,225,223,255);
    display: flex;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(139, 132, 132);
    border-top: 3px outset rgb(211, 211, 211);
    border-left: 3px outset rgb(211, 211, 211);
}

.cabana-imagen {
    width: 50%;
    margin: 2rem;
}
.cabana-imagen > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cabana-descripcion-nombre {
    margin: 2rem auto;
    color: rgba(141,157,154,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.cabana-descripcion {
    width: 50%;
    margin: 2rem;
    align-items: left;
}

.cabana-descripcion > p {
    margin: 10px auto;
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: justify;
}
.boton-reservar {
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(211,211,209,255);
    border: none;
    border-radius: 2rem;
}

.boton-reservar > a {
    text-decoration: none;
    color: rgba(58,58,57,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.boton-reservar:hover {
    background-color: rgba(211,211,209,255);
    filter: brightness(0.7);
}

.fondo-ubicacion {
    background-image: URL(Iconos/fondo\ ubicacionRecurso\ 5.jpg);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;
}






.fondo-reserva {
    background-image: URL(Imagenes/reserva.jpg);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;

}


.formulario {
    max-width: 1280px;
    margin: 50px auto;

}

.form {
    width: 100%;
    padding: 1rem;
    border: 2px solid;
    border-color: black;
    border-radius: 20px;
}
.item-form {
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    width: 97%;
    font-family: montserrat, sans-serif;
    font-size: 40px;
    padding: 1rem;
    background-color: transparent;
    color: black;
}

#nombre, #apellido, #fechades, #fechahast {
    width: 47%;
}


#Email {
   width: 50%;
}
#telefono {
    width: 44%;
}


.boton-formulario {
    font-size: 40px;
    padding: 2rem;
    border-radius: 5rem;

}

.incorrecto {
    border: 4px solid rgb(126, 0, 0);
    border-radius: 10px;
    margin: 1rem;
    width: 97%;
    font-family: montserrat, sans-serif;
    font-size: 40px;
    padding: 1rem;
    background-color: transparent;
    color: black;
}

.formulario-incorrecto{
    color: rgb(126, 0, 0);
    font-size: 30px;
    justify-self: center;
}

.oculto, .oculto1, .oculto2,.oculto3,.oculto4 {
    visibility: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

 

    
    .header-nav {
        max-width: 100%;
    }
    
    .header-nav-menu {
        display: flex;
        list-style: none;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .header-nav-menu-item {
        font-size: 24px;
        margin-right: 20px;
    }
    
    .fondo {
        height: 1280px;
    }

    
    .titulo {
        margin: 7rem;
        font-size: 54px;
    }
    .info {
        font-size: 24px;
        margin: 70px auto;
        max-width: 770px;
    }
    
    
    .instalaciones {
        margin-top: 100px;
    }
    
    #carrusel-contenido {
        width: 100%;
    }
    

    .video > iframe {
        max-width: 100%;
    }
    

    .contenedor-logos {
        font-size: 24px;
    }
    
    
    .footer-nav {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    

    .fondo-complejo {
        height: 1080px;
    }

    .espaciado {
        height: 1080px;
    }
    .cabanas {
        margin: 8rem 1rem;
        max-width: 100%;
    }
    

    .cabana-descripcion-nombre {
        margin: 1rem auto;
        font-size: 28px;
    }
    
    .cabana-descripcion {
        margin: 1rem;
    }
    
    .cabana-descripcion > p {
        margin: 1rem auto;
        margin-right: 1rem;
        font-size: 20px;
    }
    .boton-reservar {
        margin: 1rem auto;
        padding: 1rem;
    }
    
    .boton-reservar > a {
        font-size: 28px;
    }
    
    .fondo-ubicacion {
        width: 100%;
        height: 1080px;
        z-index: -1;
    }
    .fondo-complejo {
        width: 100%;
        height: 1080px;

    }

    .fondo-reserva {
        height: 1080px;
    }


    .formulario {
        max-width: 100%;
        margin: 30px 1rem;    
    }
    
    .form {
        width: 100%;
        
    }
    .form > input, .form >select {
        font-size: 30px;
    }
    
    #nombre, #apellido, #fechades, #fechahast {
        width: 97%;
    }
    
    
    #Email {
       width: 97%;
    }
    #telefono {
        width: 97%;
    }
    
    
    .boton-formulario {
    font-size: 35px;
    padding: 1.5rem;
    }




}


@media screen and (max-width: 767px) {
       
    .header-nav {
        max-width: 100%;
    }
    
    .header-nav-menu {
        display: flex;
        list-style: none;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .header-nav-menu-item {
        font-size: 16px;
        margin-right: 10px;
    }
    
    
    .fondo {
        height: 100%;
    }
    
    .logo {
        text-align: center;
        width: 100%;
    }
    
    .logo-logo {
        max-width: 50%;
        margin: 250px auto;
    }   
    
    .bienvenida {
    margin-top: 150px;
    }
    
    .titulo {
        margin: 6rem;
        font-size: 50px;
    }
    .info {
        font-size: 25px;
        margin: 80px auto;
        max-width: 100%;
    }
    
    
    .instalaciones {
        margin-top: 150px;
    }
    
    #carrusel-contenido {
        width: 100%;
        margin: 50px auto;
    }
    
        .video {
        max-width: 100%;
        height: auto;
    }
    .video > iframe {
        max-width: 100%;
        padding: 20px 0;
    }
    
    .contenedor {
    margin: 3rem auto;
    }

    .contenedor-logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 10px auto;
        font-size: 24px;
    }
    
    .caracteristica {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40%;
        margin: 0;
        padding: 0;
    }
    
    
    
    .caracteristica-descripcion {
        margin: 1rem auto;
        align-items: flex-start;
        height: 20%;
        max-width: 80%;
    }
    .covid {
        max-width: 90%;
        text-align: justify;
        margin: 3rem auto;
        font-size: 18px;
    }
    
    .footer-nav {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-footer {
        max-width: 100%;
        margin: 0 auto;
    }

    .logo-logo-footer {
        max-width: 50%;
        margin: 2rem auto;
    }
    
    .footer-menu {
        display:block;
        width: 100%;
        margin: 2rem auto;
    }
    
    .footer-menu-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    .footer-menu-item {
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    
    .footer-contacto {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-weight: 100;
        max-width: 33%;
        margin-right: 2vw;
    }
    
    .fa-brands {
        margin-right: 5px;
        margin-bottom: 10px;
        scale: 1.3;
    }
    .footer-contacto-p {
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    
    .redes{
        font-size: 18px;
    }
    
.fondo-complejo {
    height: 800px;
}

.espaciado {
    height: 800px;
}

.cabanas {
    margin: 8rem 0.5rem;
    max-width: 100%;
}

.cabanas-cabana {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.cabana-imagen {
    width: 95%;
    height: auto;
    max-width: 100%;
    margin: 1rem auto;
}
.cabana-imagen > img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.cabana-descripcion-nombre {
    display: block;
    margin: 1rem auto;
    font-size: 22px;
}

.cabana-descripcion {
    width: 95%;
    margin: 0 auto;
    align-items: center;
}

.cabana-descripcion > p {
    margin: 1rem auto;
    margin-right: 0;
    font-size: 20px;
}
.boton-reservar {
    display: flex;
    margin: 1rem auto;
    padding: 1rem;

}

.boton-reservar > a {
    font-size: 22px;
}
    

    .fondo-ubicacion {
        width: 100%;
        height: 800px;
    }


    .fondo-reserva {
        width: 100%;
        height: 880px;
    }


    .formulario {
        max-width: 100%;
        margin: 30px 1rem;    
    }
    
    .form {
        width: 100%;
        
    }
    .form > input, .form >select {
        font-size: 25px;
    }
    
    #nombre, #apellido, #fechades, #fechahast {
        width: 97%;
    }
    
    
    #Email {
       width: 97%;
    }
    #telefono {
        width: 97%;
    }
    
    
    .boton-formulario {
    font-size: 30px;
    padding: 1.5rem;
    }





}
