* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        
}
body {
    font-family: 'EB Garamond', serif;
    background-color: rgba(235,235,235,255);
}


.header {
    width: 100%;
    font: rgb(255, 255, 255);
}

.header-nav {
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.header-nav-menu {
    display: flex;
    list-style: none;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.header-nav-menu-item {
    font-size: 28px;
    margin-right: 30px;
}
.subrrallado {
   text-decoration: none;
   color: rgb(255, 255, 255);
   text-shadow: 3px 3px 3px black;
}
.subrrallado:hover {
    text-decoration: underline white ;
    text-underline-offset: 8px;
}
.active {
    text-decoration: underline white ;
    text-underline-offset: 8px;
}

.fondo {
    background-image: URL(recurso1.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo-logo {
    max-width: 50%;
    margin: 10vw 20vw;
}

.bienvenida {
    margin-top: 550px;
}

.titulo {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}
.info {
    text-align: center;
    font-size: 30px;
    margin: 100px auto;
    max-width: 800px;
}


.instalaciones {
    margin-top: 150px;
}

#carrusel-contenido {
    width: 1080px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}


#carrusel-caja {
    display: flex;
    width: 400%;
    margin: 0;
    padding: 0;
    animation: slide 20s infinite alternate ease-in-out;
}
.carrusel-elemento {
    width: 100%;
}
.imagenes{
    width: 98%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 10px 1%;
    padding: 0;
}


 @keyframes slide {
    0%    {margin-left: 0;}
    20%   {margin-left: 0;}
    25%   {margin-left: -100%;}
    45%   {margin-left: -100%;} 
    50%   {margin-left: -200%;}
    70%   {margin-left: -200%;}
    75%   {margin-left: -300%;}
    100%  {margin-left: -300%;}
} 

.video {
    display: flex;
    background-color: rgba(74,95,89,255);
    justify-content: center;
    align-content: center;
    max-width: 100%;
}
.video >iframe {
    max-width: 1080px;
    padding: 20px 0;
}
.contenedor-logos {
    display: flex;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.caracteristica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    margin: 0;
    padding: 0;
}

.caracteristica-logo {
    background-color: rgba(226,226,226,255);
    color: rgba(67,88,82,255);
    border-width: 5px;
    border-color: rgba(226,226,226,255);
    border-style: solid;
    box-shadow: 1px 1px 2px rgb(99, 99, 99);
    border-radius: 50%;
}


.caracteristica-descripcion {
    margin: 20px auto;
    align-items: flex-start;
    height: 20%;
    max-width: 80%;
}
.covid {
    margin: 30px auto;
}

.footer {
    background-color: rgba(74,95,89,255);

} 
.footer-nav {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 33%;

}
.logo-logo-footer {
    max-height: 50%;
    border: 6px;
    border-color: black;
    margin-left: 2vw;
}

.footer-menu {
    display: flex;
    min-width: 33%;
    font-family: 'Montserrat', sans-serif;
}

.footer-menu-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-menu-item {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.footer-menu-item-item {
   text-decoration: none;
   color: rgb(255, 255, 255);
}

.footer-menu-item-item:hover {
    text-decoration: underline white ;
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    color: white;
    font-weight: 100;
    max-width: 33%;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2vw;
}

.fa-brands {
    margin-right: 5px;
    margin-bottom: 10px;
    scale: 1.3;
}
.footer-contacto-p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.redes{
    font-size: 18px;
}

.fondo-complejo {
    background-image: URL(Iconos/fondo\ complejoRecurso\ 4.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;

}

.espaciado {
    width: 100%;
    height: 1280px;
}

.cabanas {
    margin: 150px auto;
    max-width: 1280px;
}

.cabanas-cabana {
    background-color: rgba(225,225,223,255);
    display: flex;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(139, 132, 132);
    border-top: 3px outset white;
    border-left: 3px outset white;
}

.cabana-imagen {
    width: 50%;
    margin: 2rem;
}
.cabana-imagen > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cabana-descripcion-nombre {
    margin: 2rem auto;
    color: rgba(141,157,154,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.cabana-descripcion {
    width: 50%;
    margin: 2rem;
    align-items: left;
}

.cabana-descripcion > p {
    margin: 10px auto;
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: justify;
}
.boton-reservar {
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(211,211,209,255);
    border: none;
    border-radius: 2rem;
}

.boton-reservar > a {
    text-decoration: none;
    color: rgba(58,58,57,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.boton-reservar:hover {
    background-color: rgba(211,211,209,255);
    filter: brightness(0.7);
}
  