* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        
}
body {
    font-family: 'EB Garamond', serif;
    background-color: rgba(235,235,235,255);
}


.header {
    width: 100%;
    font: rgb(255, 255, 255);
}

.header-nav {
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.header-nav-menu {
    display: flex;
    list-style: none;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.header-nav-menu-item {
    font-size: 20px;
    margin-right: 30px;
}
.subrrallado {
   text-decoration: none;
   color: rgb(255, 255, 255);
   text-shadow: 3px 3px 3px black;
}
.subrrallado:hover {
    text-decoration: underline white ;
    text-underline-offset: 8px;
}
.active {
    text-decoration: underline white ;
    text-underline-offset: 8px;
}

.fondo {
    background-image: URL(recurso1.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 1280px;
    z-index: -1;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo-logo {
    max-width: 50%;
    margin: 10vw 20vw;
}

.bienvenida {
    margin-top: 550px;
}

.titulo {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}
.info {
    text-align: center;
    font-size: 30px;
    margin: 2vw auto;
    max-width: 800px;
}




#carrusel-contenido {
    width: 500px;
    margin: 50px auto;
}


#carrusel-caja {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease;
    height: 410px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.imagenes{
    height: auto;
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 0;
    padding: 0;
}

.carrusel-1 {
    position: absolute;
    animation: carrusel-1 20s infinite linear;
    transition: all 0.75s ease;
}

.carrusel-2 {
    animation: carrusel-2 20s infinite linear;
    transition: all 0.75s ease; 
}

.carrusel-3 {
    animation: carrusel-3 20s infinite linear;
    transition: all 0.75s ease;
}

.carrusel-4 {
    animation: carrusel-4 20s infinite linear;
    transition: all 0.75s ease;
}

/* @keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    22.5% {
        margin-left: 0;
    }
    27.5% {
        margin-left: -100%;
    }
    47.5% {
        margin-left: -100%;
    } 
    52.5% {
        margin-left: -200%;
    }
    72.5% {
        margin-left: -200%;
    }
    77.5% {
        margin-left: -300%;
    }
    90% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
} */


@keyframes carrusel-1 {
    0% {
        scale: 0.8;
        z-index: -1;
        left: 0;
    }
    20% {
        scale: 0.8;
        z-index: -1;
        left: 0;
    }
    25% {
        visibility: hidden;
        z-index: -1;
        left: 10%;
    }
    45% {
        visibility: hidden;
        z-index: -1;
        left: 10%;
    }
    50% {
        scale: 0.8;
        z-index: -1;
        left: 100%;
    }
    70% {
        scale: 0.8;
        z-index: -1;
        left: 100%;
    }
    75% {
        scale: 1.3;
        z-index: 2;
        left: 10%;
    }
    95% {
        scale: 1.3;
        z-index: 1;
        left: 10%;
    }
    100% {
        scale: 0.8;
        z-index: -1;
        left: 0;
    }
}

@keyframes carrusel-2 {
    0% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
        left: 40vw;
    }
    20% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
        left: 40vw;
    }
    25% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
        visibility: visible;
    }
    45% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
    }
    50% {
        height: 400px;
        width: auto;
        z-index: 1;
        left: 40vw;
    }
    70% {
        height: 400px;
        width: auto;
        z-index: 1;
        left: 40vw;
    }
    75% {
        scale: 0.8;
        z-index: -1;
        left: 20vw;
    }
    95% {
        scale: 0.8;
        z-index: -1;
        left: 20vw;
    }
    100% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
 
    }
}

@keyframes carrusel-3 {
    0% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
    }
    20% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
    }
    25% {
        scale: 1.3;
        z-index: 1;
        left: 40vw;
    }
    45% {
        scale: 1.3;
        z-index: 1;
        left: 40vw;
    }
    50% {
        scale: 0.8;
        z-index: -1;
        left: 20vw;
    }
    70% {
        scale: 0.8;
        z-index: -1;
        left: 20vw;
    }
    75% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
        left: 40vw;
    }
    95% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
        left: 40vw;
    }
    100% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
    }
}
@keyframes carrusel-4 {
    0% {
        scale: 1.3;
        z-index: 1;
        left: 40vw;
    }
    20% {
        scale: 1.3;
        z-index: 1;
        left: 40vw;
    }
    25% {
        scale: 0.8;
        z-index: -1;
        left: 20vw;
    }
    45% {
        scale: 0.8;
        z-index: -1;
        left: 20vw;
    }
    50% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
        left: 40vw;
    }
    70% {
        scale: 0;
        visibility: hidden;
        z-index: -1;
        left: 40vw;
    }
    75% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
    }
    95% {
        scale: 0.8;
        z-index: -1;
        left: 60vw;
    }
    100% {
        scale: 1.3;
        z-index: 1;
        left: 40vw;
    }
}





.video {
    display: flex;
    background-color: rgba(74,95,89,255);
    justify-content: center;
    align-content: center;
    max-width: 100%;
}
.video >iframe {
    max-width: 1080px;
    padding: 20px 0;
}
.contenedor-logos {
    display: flex;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.caracteristica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    margin: 0;
    padding: 0;
}

.caracteristica-logo {
    background-color: rgba(226,226,226,255);
    color: rgba(67,88,82,255);
    border-width: 5px;
    border-color: rgba(226,226,226,255);
    border-style: solid;
    box-shadow: 1px 1px 2px rgb(99, 99, 99);
    border-radius: 50%;
}


.caracteristica-descripcion {
    margin: 20px auto;
    align-items: flex-start;
    height: 20%;
    max-width: 80%;
}
.covid {
    margin: 30px auto;
}

.footer {
    background-color: rgba(74,95,89,255);

} 
.footer-nav {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 33%;

}
.logo-logo-footer {
    max-height: 50%;
    border: 6px;
    border-color: black;
    margin-left: 2vw;
}

.footer-menu {
    display: flex;
    min-width: 33%;
    font-family: 'Montserrat', sans-serif;
}

.footer-menu-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-menu-item {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.footer-menu-item-item {
   text-decoration: none;
   color: rgb(255, 255, 255);
}

.footer-menu-item-item:hover {
    text-decoration: underline white ;
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    color: white;
    font-weight: 100;
    max-width: 33%;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2vw;
}

.fa-brands {
    margin-right: 5px;
    margin-bottom: 10px;
    scale: 1.3;
}
.footer-contacto-p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.redes{
    font-size: 18px;
}