.grid-principal {
    display: grid;
   grid-template-areas: "header" "header" "header"
   "bienvenida" "bienvenida" "bienvenida"
   "instalaciones" "instalaciones" "instalaciones"
   "video" "video" "video"
   "caracteristicas" "caracteristicas" "caracteristicas"
   "covid" "covid" "covid"
   "footer" "footer" "footer";

}
.header {
    font: rgb(194, 194, 194);
    font-family: 'EB Garamond', serif;
    font-size: 3vw;

}
.imagen-principal {
    position: absolute;
    margin-top: -5vw;
    margin-left: -122px;
    
    }

